<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
 <body class="container">
        <header>
                <h1>
                    Curriculum Vitae 
                </h1>
        </header>
        <div class="grid-container">
                <div class="grid-item">
                        <img id="a" src="../assets/images/‪+27 76 206 2392‬ 20180521_135917.jpg" alt="propic" class="center">
                        <h1>Sharon Nthabiseng Mputle</h1>
                        <h2>Personal Information</h2>
                        <p class="center">
                            9503070681089<br />
                            Female<br />
                            South African<br /> 
                        </p>
    
                        <h2>Contacts</h2>
                      
                        <table align="center">
                            <tr>
                                <td><i class="material-icons">call</i></td>
                                <td class="tc">0762062392</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">email</i></td>
                                <td class="tc">mputle15@gmail.com</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">location_on</i></td>
                                <td class="tc">23 Coniston Court, 01 Abel Road, Berea, 2198</td>
                            </tr>
                        </table> 
                        <h2>Hobbies</h2>
                        <table  align="center">
                            <tr><td><img src="../../assets/images/Pan-512.png" alt="cooking" height="75px" width="75px"></td>
                                <td><img src="../../assets/images/reading2.png" alt="cooking" height="75px" width="75px"></td>
                            </tr>
                            <tr><td>Cooking</td>
                                <td>Reading</td>
                            </tr>
                        </table>
                </div>
                <div class="grid-item">
                        <h1>Education</h1>
                        <h2>Secondary Education</h2>
                        <p class="center">
                            <b>Tshomangkane High School</b><br />
                            Grade 12<br />
                            2013
                        </p>
    
                        <h2>Tertiary Education</h2>
                        <p class="center">
                            <b>Tshwane University of Technology</b><br />
                            National Diploma in Information Technology : Technical Applications<br />
                            2015 - 2017
                        </p>
                     
                        <h2>Skills</h2>
                        <div class="center">
                                Microsoft office<br />
                                Java<br />
                        </div>
    
                    <h1>Work Experience</h1>
                    <h2>Shoprite</h2>
                    <p class="center">
                        11/2014 - 01/2015<br />
                        Packer<br />
                        Reference: Betty White<br />
                        Contacts: 0145987621<br />
                    </p>
                    
                
                    <h2>Code-el-al</h2>
                    <p class="center">
                        10/2017 - 02/2018<br />
                        IT Intern<br />
                        Reference: Brian Little<br />
                        Contacts: 0116846325
                    </p>
                    
                
                    <h2>National Treasury</h2>
                    <p class="center">
                            02/2018 - 05/2018<br />
                            Tech Support<br />
                            Reference: Pule Mathinye<br />
                            Contacts: 0123156599<br />
                    </p>
                </div>
               
        </div>
        <footer>
                © 2018 Copyright of Sharon Nthabiseng Mputle
         </footer>
</body>
</html>
