

body {
    
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}


header, footer{
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(124, 45, 45);
    color:  lightgray;
    padding: 20px;
    text-align: center;
    clear: left;
}

.container{
    background-color: rgb(124, 45, 45);
    color:rgba(70, 30, 30, 0.685);
    margin-right: 15%;
    margin-left: 15%;
    border: ridge;
    
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 0em;
    background-color: rgb(124, 45, 45);
}

.grid-item {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
  }

#a {
    border-radius: 50%;
}

h1, h2, h3{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.tc{
    text-align: left;
}